.container {
  background-color: #f8f8ff;
  padding: 30px;
  margin-top: 50px;
  border-radius: 20px;
}

.font-family {
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #797fba;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.btn-primary {
  background-color: #646eef !important;
  color: white;
  margin-top: 25px; 
  margin-bottom: 30px;
}

.btn-delete {
  background-color: #ededed !important;
}

.btn-primary:hover {
  background-color: #5660ee !important; 
}

.btn-primary:active {
  background-color: #3642e8 !important; /* Change this to your desired active color */
}

ul {
  list-style-type: none;
}

.form-control {
  margin-top: 40px;
  width: 50px;
  color: #414344 !important;
}

.input-taller {
  height: 45px;
}

input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
}

.card-main {
  height: 900px;
  overflow: auto;
  background-color: #ededf7 !important;
}

.task-card {
  border: none !important;
  background-color: white !important;
  color: #404344 !important;
}

.task-info {
  display: inline-flex;
  flex-direction: row;
}

.task-date {
  font-size: small;
}

.completed {
  text-decoration: line-through;
}

.task-list {
  color: #585c5e;
}

.fa-trash {
  color: #585858;
}

.time {
  color: #838383;
}

.form-check-input {
  margin-right: 10px;
  cursor: pointer;
}

.form-check-input[type='checkbox']:checked {
  background-color: #5660ee !important;
}

@media (max-width: 768px) {
  .container {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
  }
}