.container {
  background-color: #f8f8ff;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.font-family {
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #797fba;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.footer {
  width: 200px;
  border-radius: 30px;
  background-color: #f8f9fe;
  color: #797fbb;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.footer p {
  margin: 15px;
}

.containerLink {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}


.btn-primary {
  background-color: #646eef !important;
  color: white;
}

.btn-delete {
  background-color: #ededed !important;
}

.btn-primary:hover {
  background-color: #5660ee !important; 
}

.btn-primary:active {
  background-color: #3642e8 !important; /* Change this to your desired active color */
}

ul {
  list-style-type: none;
}

.form-control {
  width: 50px;
  color: #414344 !important;
}

.input-taller {
  height: 45px;
}

input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
}

.card-main {
  height: 400px !important;
  overflow-y: auto;
  background-color: #ededf7 !important;
}

.task-card {
  border: none !important;
  background-color: white !important;
  color: #404344 !important;
}

.task-info {
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: ellipsis;
  max-width: 100%;
}

.task-text {
  margin-right: 30px;
}

.completed {
  text-decoration: line-through;
  color: #b6b6b7;
}

.task-list {
  color: #585c5e;
}

.fa-trash {
  color: #585858;
}

.time {
  color: #838383;
}

.form-check-input {
  margin: 10px 10px; 
  cursor: pointer;
}

.form-check-input[type='checkbox']:checked {
  background-color: #5660ee !important;
}

@media (max-width: 768px) {
  .container {
    height: 100vh;
    width: 100vw;
    padding: 0; 
    margin: 0; 
  }
  .card-main {
    height: 350px !important;
  }
}